*
{
    margin:    0px;
    padding:   0px;
    box-sizing: border-box;
    
}
body{
    background-color: #ffffff8e;
}
#heading{
    background-color: rgba(0, 0, 0, 0.475);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-width:4px ;
    border-style:groove;
    border-radius: 12px;
    color:#1e3e6289;
    text-align: center;
}
table{
    width:50%;
    font-size: 20px;
    color:rgb(64, 40, 5);
    font-weight: bold;
}
#container{
    display:flex;
    justify-content: center;
}